.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    @apply bg-amber-400;
}

.main {
    @apply container mx-auto;
    @apply p-2 py-8;
    @apply flex flex-col items-center gap-8;
}